<ion-header [translucent]="true">
  <ion-toolbar>
   <div class="bgtoolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#">
        </ion-back-button>
      </ion-buttons>
    <ion-title class="center">Akkaraphon Shop</ion-title>
   </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]>
  <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/product/15promax.webp" alt="">
          <ion-label>
            <div class="center">
              iPhone 15 pro Max <br>
              ราคา 44,900 บาท <br>
              <ion-button size="small">
                <ion-icon name="cart-outline"></ion-icon>
                สั้งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>

          <ion-col>
            <img src="assets/product/f23fe.webp" alt="">
            <ion-label>
              <div class="center">
                F23 FE <br>
                ราคา 15,500 บาท <br>
                <ion-button size="small">
                  <ion-icon name="cart-outline"></ion-icon>
                  สั้งซื้อ
                </ion-button>
              </div>
            </ion-label>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/ipadair5.webp" alt="">
          <ion-label>
            <div class="center">
              Ipad Air 5 <br>
              ราคา 23,900 บาท <br>
              <ion-button size="small">
                <ion-icon name="cart-outline"></ion-icon>
                สั้งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>

          <ion-col>
            <img src="assets/product/mi-14tpro.jpg" alt="">
            <ion-label>
              <div class="center">
                MI 14T Pro <br>
                ราคา 18,500 บาท <br>
                <ion-button size="small">
                  <ion-icon name="cart-outline"></ion-icon>
                  สั้งซื้อ
                </ion-button>
              </div>
            </ion-label>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/mipad5.jpg" alt="">
          <ion-label>
            <div class="center">
              Mi Pan 5 <br>
              ราคา 14,900 บาท <br>
              <ion-button size="small">
                <ion-icon name="cart-outline"></ion-icon>
                สั้งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>

          <ion-col>
            <img src="assets/product/s24.webp" alt="">
            <ion-label>
              <div class="center">
                Samsung S24 Ultra <br>
                ราคา 43,900 บาท <br>
                <ion-button size="small">
                  <ion-icon name="cart-outline"></ion-icon>

                  สั้งซื้อ
                </ion-button>
              </div>
            </ion-label>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/ts9.jpg" alt="">
          <ion-label>
            <div class="center">
              Samsung Tab S9 <br>
              ราคา 22,900 บาท <br>
              <ion-button size="small">
                <ion-icon name="cart-outline"></ion-icon>
                สั้งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>

          <ion-col>
            <img src="assets/product/vivo-y20.png" alt="">
            <ion-label>
              <div class="center">
                vivo Y20 <br>
                ราคา 5,990 บาท <br>
                <ion-button size="small">
                  <ion-icon name="cart-outline"></ion-icon>
                  สั้งซื้อ
                </ion-button>
              </div>
            </ion-label>
          </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>
